<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.board">

	<select id="boardlist" resultType="BoardDto">
		SELECT SEQ, TITLE FROM BOARD
	</select>
	
	<insert id="insertboard" parameterType="BoardDto">
		INSERT INTO BOARD (SEQ,TITLE) VALUES(BOARD_SEQ.NEXTVAL, #{title})
	</insert>
	
	<update id="updateboard" parameterType="BoardDto">
		UPDATE BOARD SET TITLE=#{title} 
		WHERE SEQ=#{seq}
	</update>
	
	<delete id="deleteboardlist" parameterType="BoardDto">
		DELETE FROM BOARD WHERE SEQ=#{seq}
	</delete>
	
	<select id="getboardbyseq" resultType="BoardDto" parameterType="int">
		SELECT SEQ, TITLE FROM BOARD WHERE SEQ=#{seq}
	</select>
</mapper>