<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.boardlist">

	<select id="boardlist" resultType="BoardListDto">
		SELECT SEQ, TITLE FROM BOARD
	</select>
	
	<insert id="insertboardlist" parameterType="BoardListDto">
		INSERT INTO BOARD (SEQ,TITLE) VALUES(BOARD_SEQ.NEXTVAL, #{list})
	</insert>
	
	<update id="updateboardlist" parameterType="BoardListDto">
		UPDATE BOARD SET TITLE=#{list} 
		WHERE SEQ=#{seq}
	</update>
	
	<delete id="deleteboardlist" parameterType="BoardListDto">
		DELETE FROM TITLE WHERE SEQ=#{seq}
	</delete>
	
	<select id="boardlistbyseq" resultType="BoardListDto" parameterType="int">
		SELECT SEQ, TITLE FROM BOARD WHERE SEQ=#{seq}
	</select>
</mapper>