<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.category">
	<select id="getCategory" parameterType="int" resultType="CategoryDto" >
		SELECT SEQ, TITLE,BOARD_SEQ FROM CATEGORY WHERE SEQ=#{seq}
	</select>
	
	<select id="categorytitleByseq" parameterType="int" resultType="CategoryDto" >
		SELECT p.SEQ, m.ID,p.TITLE,p.CONTENT,p.REGDATE,p.REF,p.STEP,p.DEPTH,p.READCOUNT,p.DELFLAG,p.REGDATE,p.NOTICE,p.MEMBER_SEQ,p.BOARD_SEQ,p.CATEGORY_SEQ ,c.TITLE as category_title
		FROM POST p, MEMBER m, CATEGORY c
		WHERE p.MEMBER_SEQ = m.SEQ AND p.BOARD_SEQ = c.BOARD_SEQ AND p.CATEGORY_SEQ = #{seq}
		ORDER BY REF,STEP
	</select>
	
	<insert id="InsertCategory" parameterType="CategoryDto">
		INSERT INTO CATEGORY (SEQ,TITLE,BOARD_SEQ) VALUES(CATEGORY_SEQ.NEXTVAL, #{title}, #{seq})
	</insert>
	
	<update id="UpdateCategory" parameterType="CategoryDto">
		UPDATE CATEGORY SET TITLE=#{title}
		WHERE SEQ=#{seq}
	</update>
	
	<delete id="DeleteCategory" parameterType="CategoryDto">
		DELETE FROM CATEGORY WHERE SEQ=#{seq}
	</delete>
	
	<select id="CategoryByBoardSeq" resultType="CategoryDto" parameterType="int">
		SELECT c.SEQ, c.TITLE FROM CATEGORY c,BOARD b WHERE c.BOARD_SEQ = b.SEQ AND BOARD_SEQ=#{seq}
	</select>
</mapper>